################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
kubeconfig
.vs
.vscode
/WebApi/obj
/.vs/BackendSolution/v17
/.dockerignore
/.vs/BackendSolution/DesignTimeBuild/.dtbcache.v2
/Commons/bin/Debug/net6.0
/Commons/obj
/Models/bin/Debug/net6.0
/Models/obj/Debug/net6.0
/Models/obj
/Persistence/bin/Debug/net6.0
/Persistence/obj/Debug/net6.0
/Persistence/obj
/WebApi/bin/Debug/net6.0
/WebProject/bin/Debug/net6.0
/WebProject/obj/Container
/WebProject/obj/Debug/net6.0
/WebProject/obj
/.tye
/.vs/BackendSolution/config
/Shared/Commons/bin/Debug/net6.0
/Shared/Commons/obj
/Shared/Models/bin/Debug/net6.0
/Shared/Models/obj
/Shared/Persistence/bin/Debug/net6.0
/Shared/Persistence/obj
bin
**obj/*
Debug
obj/
.DS_Store
TestResults/
lcov.info
coverage/
*.user
/src/RegionController/log.log
/src/WebApi/log.log
log.log
appsettings.secrets.json
